
@font-face{
  src: url(assets/fonts/Electrolize-Regular.ttf);
  font-family: titleFont;
}

@font-face{
  src: url(assets/fonts/Courier.ttf);
  font-family: secondaryFont;
}


html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#banner {
  height: 0px;

}

body {

    background-color: rgb(207, 207, 201);
    background-image: url("assets/gifs/abstract_gif_11.gif");
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;

}



.mainTitle{
  color: white;
  font-family : titleFont;
  font-size : 200%;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.subTitleHome{
  color: white;
  font-family : secondaryFont;
  font-size : 200%;
  margin: 0;
  position: absolute;
  top: 52.5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.centeredLinkTop{
  position: fixed;
  top: 5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.centeredLinkMid{
  position: fixed;
  top: 9%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.centeredLinkBottom{
  position: fixed;
  top: 13%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}


.aboutTitle{
  color: white;
  font-family : secondaryFont;
  padding-top: .3%;
  font-size : 10%;
  padding-left: 4%;
}

p.textLeft {
  color: white;
  font-family : secondaryFont;
  margin-right: 40%;
  padding-left: 8%;
    z-index: 10;

}

p.piece-footer{
   color: white;
  font-family : secondaryFont;
  margin-left: 40%;
  padding-right: 8%;
    z-index: 10;
  text-align: justify;
}

.selectedItemTitle{
  position: absolute;
  top: 6%;
  left: 2%;
  font-family: titleFont;
  font-size: 13vw;
  text-align: left;
  line-height: 130px;
}

.category-item-image{
  width:49.5%;
}

.category-item-title-left{
  position: absolute;
  top: 6%;
  left: 15%;
  right: 55%;
  font-family: titleFont;
  font-size: 7vw;
  text-align: right;
}

.category-item-title-right{
  position: absolute;
  top: 6%;
  left: 65%;
  right: 5%;
  text-align: right;
  font-family: titleFont;
  font-size: 7vw;
}


.selectedItemBody{
  position: absolute;
  top: 35%;
  left: 3%;
  font-family: secondaryFont;
  font-size: 1.5vw;
  text-align: left;
}


.selected-container{
  position: relative;
  text-align: center;
  color: white;
}

.category-container{
  position: relative;
  color: white;
}


.name-upper-left{
  font-size: 5.1vw;
  font-weight: normal;
  font-family: titleFont;
  text-align: center;
  margin: 0;
  padding-left: 3%;
}

.category-image{
  width: 46%;
  margin-left: 54%;
}

.piece-title-body{
   position: absolute;
  top: 55%;
  left: 3%;
  font-family: secondaryFont;
  font-size: 1.5vw;
  text-align: left;
  margin-right: 60%;
}

.portrait{
  position: relative;
  transform: translate(350%, -120%);
  width: 20%;
}





#mainContents{
 width: 100%;
background-image: url('assets/images/backColor.png');
 background-size: 100% ;
 background-repeat: repeat;

 margin: 0;
 padding: 0;
 border: 0;
 z-index: 0;
}




h1{
    font-family: titleFont;
    font-size: 9vw;
    color: white;
    margin: 0;
    text-align: center;
    font-weight:normal;
}

h1.selectedTitleLeft{
  font-size: 8vw;
   margin-right: 60%;
  padding-left: 7%;
    z-index: 10;
    font-weight:normal;

}

h1.category-title{
  font-size: 12vw;
  padding-left: 2.5%;
  font-weight: normal;
  margin-right:60%;
}

h1.piece-title{
  position: absolute;
  top: 2%;
  right: 2%;
  font-family: titleFont;
  font-size: 13vw;
  text-align: right;
  line-height: 130px;
  margin-left:60%;

}

h1.piece-home-title{
  position: fixed;
  top: 2%;
  left: 2%;
  text-align: left;
  margin-right:50%;
  font-size: 5.3vw;
  font-weight: normal;
  font-family: titleFont;
  z-index: 10;

}


h4{
    font-family: titleFont;
    font-size: 1vw;
    color: pink;
    margin: 0;
    text-align: center;
    font-weight:normal;
}

h2{
  font-family: secondaryFont;
  font-size: 2vw;
  font-weight:normal;
}

h3{
  font-family: titleFont;
  font-size: 6vw;
  font-weight:normal;
}




h5{
  font-family: titleFont;
  font-size:  : 1.5vw;
  color: white;
  padding-left: 170px;
  text-align: left;
}

a{
  text-decoration: underline;
  text-decoration-color: white;
  font-family: secondaryFont;
  color: white;
}

a:link {
  text-decoration: none;
  text-decoration-color: white;

}



a:visited {
  text-decoration: underline;
  text-decoration-color: white;

}

a:hover {
  text-decoration: underline;
  text-decoration-color: red;
  color: red;
}

a:active {
  text-decoration: underline;
  text-decoration-color: white;


}




img {
    position: relative;
    width: 100%;
    /* background-position: bottom center; */
}

.left {
    position: relative;
    width: 10%;
    margin:0;
    /* background-position: bottom center; */
}

.topic {
  position: relative;
  width: 90%;
  margin:0;
}

.category{
  position: relative;
  width: 110%;
  margin:0;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
}


.flex-container-snapshots {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}


.flex-item-category{
  max-width: 49%;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 10px;
}

/* parallax*/

.keyart, .keyart_layer {
  height: 60vw;
    background-repeat: no-repeat;
}

.keyart {
  position: relative;
  z-index: -10;
}

.keyartNews, .keyart_layer_news {
  height: 60vw;
    background-repeat: no-repeat;
}

.keyartNews {
  z-index: -10;
  position: relative;
  top: 200%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.keyart_layer_news {
  background-position: bottom;
  background-size: 100% auto;
  width: 100%;


}



.keyart_layer {
  background-position: bottom;
  background-size: 100% auto;
  width: 100%;
}
.keyart_layer.parallax {
  position: fixed;
}

#keyart-3{
  background-image: url("assets/images/arrowScrollDown.png");
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 0;

  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#keyart-4{
  background-image: url("assets/images/arrowScrollDown.png");
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 0;
}



/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

.column img:hover {
  opacity: 1;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
  padding-left: 7%;
  padding-right: 0%;
  justify-content: center;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}


.zoom {
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
